:root {
    --main-title-color: #ffffff;
    --second-title-color: #2E2F42;
    --main-btn-color: #4D5AE5;
    --second-btn-color: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.top-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*---------------HEADER---------------*/
.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    margin-left: 76px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list .header-item + .header-item {
    margin-left: 40px;
}

.logo, .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo>span {
    color: #2E2F42;
}

.header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.header-adress {
    margin-left: auto;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.adress-list {
    display: flex;
}

.adress-list .adress-item + .adress-item {
    margin-left: 40px;
}

.adress-item>.link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress-item>.link:hover,
.adress-item>.link:focus {
    color: #404BBF;
}

 /*---------------HERO---------------*/

 .hero {
    background: #2E2F42;
 }

 .hero-title {
    padding: 188px 472px 292px 472px;

    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;*
 }

 .hero-btn { 
    display: block;
    margin: 0 auto;
    padding: 16px 32px 16px 32px;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5
 }

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;}

  /*---------------SECTION-FUCTIONS---------------*/

.functions-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #2E2F42;
}

.functions-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---------------ACTS---------------*/

.acts-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

/*---------------TEAM---------------*/

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-item {
    background-color: #FFFFFF
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---------------FOOTER---------------*/

.footer {
    background-color: #2E2F42;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.footer-logo>span {
    color: #F4F4FD;
}

/*---------------PORTFOLIO---------------*/

.portfolio-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4d5ae5;
    background-color: #F4F4FD;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
