:root {
    --main-title-color: #ffffff;
    --second-title-color: #2E2F42;
    --main-btn-color: #4D5AE5;
    --second-btn-color: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.top-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1470px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*---------------HEADER---------------*/
.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    justify-content: flex-end;
    padding-left: 156px;
}

.header-logo,.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding: 24px 0;
}

.header-logo>span {
    color: #2E2F42;
}

.header-list {
    display: flex;
    margin-left: 76px;
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-link {
    display: block;
    padding: 24px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.header-adress {
    display: flex;
    margin-left: auto;
}

.adress-list {
    display: flex;
}

.adress-list .adress-item+.adress-item {
    margin-left: 40px;
}

.adress-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.adress-item>.link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress-item>.link:hover,
.adress-item>.link:focus {
    color: #404BBF;
}

/*---------------HERO---------------*/

.hero {
    background: #2E2F42;
    height: 600px;
}
.header-container {
    display: flex;
    align-items: center;
}

.hero-title {
    margin: 0 auto;
    width: 496px;
    padding-top: 188px;
    margin-bottom: 48px;

    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    display: block;
    margin: 0 auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;   
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    position: inherit;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/*---------------SECTION-FUCTIONS---------------*/

.functions-list {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.functions-list .functions-item+.functions-item {
    margin-left: 24px;
}

.functions-list .functions-item {
    width: 264px;
}

.functions-item-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #2E2F42;
}

.functions-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---------------ACTS---------------*/

.acts-title {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.acts-list {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.acts-item {
    width: 360px;
    height: 300px;
}

.acts-list .acts-item+.acts-item {
    margin-left: 24px;
}

/*---------------TEAM---------------*/

.team {
    background-color: #F4F4FD;
    height: 732px;
}

.team-title {
    padding-top: 120px;
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {
    display: flex;
    justify-content: center;
}

.team-list .team-item+.team-item {
    margin-left: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: 264px;
    height: 380px;;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    padding-top: 32px;
    padding-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*---------------FOOTER---------------*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 156px;
    height: 310px;

    background-color: #2E2F42;
}

.footer-text {
    width: 264px;
    margin-top: 16px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.footer-logo {
    margin-bottom: 16px;
}

.footer-logo>span {
    color: #F4F4FD;
}

/*---------------PORTFOLIO---------------*/
.header-portfolio {
    border-bottom: 1px solid #E7E9FC;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 72px;
}

.portfolio-list .portfolio-item+.portfolio-item {
    margin-left: 24px;
}

.portfolio-btn {
    padding: 12px 24px 12px 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4d5ae5;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.portfolio-list-pic {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
    margin-left: 156px;
}

.portfolio-item-pic {
    width: 360px;
    margin-right: 24px;
    margin-bottom: 48px;
}

.portfolio-item-pic:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item-pic:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px;
    padding-left: 16px;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}